<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>AMPIE</string>
	<string>ANIMA</string>
	<string>BABBO</string>
	<string>CENE</string>
	<string>COME</string>
	<string>DONI</string>
	<string>FARTI</string>
	<string>FIUMI</string>
	<string>FORTI</string>
	<string>MORA</string>
	<string>PILE</string>
	<string>TESI</string>
</array>
</plist>
