<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>AGIATO</string>
	<string>AMPIE</string>
	<string>ANIMA</string>
	<string>ATTIRARE</string>
	<string>BABBO</string>
	<string>CENE</string>
	<string>COME</string>
	<string>CONTENERE</string>
	<string>DELLO</string>
	<string>DIGNITÀ</string>
	<string>DONI</string>
	<string>FARTI</string>
	<string>FIUMI</string>
	<string>FORTI</string>
	<string>MISE</string>
	<string>MORA</string>
	<string>MURO</string>
	<string>NERO</string>
	<string>OGGETTI</string>
	<string>PILE</string>
	<string>RENDERGLI</string>
	<string>SICURE</string>
	<string>TENTAVA</string>
	<string>TESI</string>
</array>
</plist>
